@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.link {
  text-decoration: none;
  font-size: 24px;
  padding: 20px 0;
  margin: 0 10px;
  color: #292929;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
}
.lihover{
  color: #292929;
  font-weight: 500;
  font-size: 26px;

}
.lihover:hover{
  border-bottom:6px solid #db0007;
}
.link-footer{
  text-decoration: none;
width: 100%;
  font-size: 24px;
  color: #292929;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
